:root {
    --gray: #4a5568;

}

body {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Inter', sans-serif;

}
nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
}
nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
.navbar {
    background: white;
    height: 85px;
    display: flex;
    padding: 0 10%;
    align-items: center;
    justify-content:space-between;
    box-shadow: 0 2px 4px 0 rgb(1, 1, 1, 0.1);
}
.menu-icon{
    display: none;
}
.navbar > h1 {
    font-size: 20px;
    font-weight:bolder;
}

.nav-menu {
    display: flex;
    gap: 30px;
    
    
}
.nav-gambar {
    display: flex;
    gap: 20px;
}
.header {
    display: flex;
    height: 700px;
    padding: 0 10%;
}
.header > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.header h1 {
    font-size: 60px;
    margin: 20px 0;
}
.header p {
    font-size: 25px;
    color: var(--gray);
}
.header > img {
    width: 50%;
    align-self: center;
}
.judul {
    justify-content: center;
}
.content-container {
    min-height: 400px;
    margin: 40px 0;
    padding: 0 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.content-container .card {
    height: 100%;
}
.button-style {
    background-color: gray; 
    color: white; 
    border-radius: 10px;
}
.card {
    box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.1);
}
.card > img {
    object-fit: cover;
    height: 240px;
    width: 100%;
}
.card > .card-body {
padding: 20px;
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(243, 243, 243);
    padding: 0 10%;
    height: 90px;
}
footer > div {
    display: flex;
    gap: 20px;

}
.login {
    display: flex;
    height: 700px;
    padding: 0 10%;
}
.login > div {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }

.login h2 {
    font-size: 40px;
    margin: 20px 0;
}
.login p {
    font-size: 20px;
    color: var(--gray);
}



.container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
@media only screen and (max-width: 420px) {
   .header{
    flex-wrap: wrap;
   }
   .header > div {
    width: 100%;
   }
   .header > img {
    width: 100%;
   }
   .header h1 {
    font size: 36px;
    text-align: center;
    }
    .header p {
    font size: 18px;
    text-align: center;
        }
   .content-container{
    grid-template-columns: 1fr;
   }
   nav ul{
    display: none;
   }
   .nav-gambar{
    display: none;
   }
   .login{
    flex-wrap: wrap;
   }
   .menu-icon {
    display: flex;
    align-items: center;
   }
   .login h2 {
    font size: 16px;
    text-align: center;
   }
   .login p {
    font size: 8px;
    text-align: center;
   }
   .login > div {
    width: 100%;
   }
   .container{
    width: 100%;   }
   footer {
    flex-direction: column-reverse;
   }
  }